<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to SSoin</title>
</head>
<body>
<h1><span style="color : blue" ><p style="text-align:center;">Welcome to SSoin Service.</p></span></h1>
<h2><p style="text-align:center;"> Use service </p></h2>

  <table border=1 cellspacing=1 cellpadding=5 align='center'>
      <tr>
      <td align='center' colspan="2"><input type="button" name="chain" value="Amount of chain" onclick="location.href='/chain'"></td></tr>
      <tr>
      <td align='center' colspan="2"><input type="button" name="transactions" value="Trading" onclick="location.href='/trade'"></td></tr>
      
      <tr>
      <td align='center' colspan="2"><input type="button" name="register" value="Register" onclick="location.href='/register'"></td></tr>
      
      <tr>
      <td align='center' colspan="2"><input type="button" name="mine" value="Mining" onclick="location.href='/mine'"></td></tr>
  
      <tr>
      <td align='center' colspan="2"><input type="button" name="resolve" value="Resolve" onclick="location.href='/nodes/resolve'"></td></tr>
    </table>
</body>
</html>
