<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to SSoin</title>
</head>
<body>
<h1><span style="color : blue" ><p style="text-align:center;">Register node</p></span></h1>    
    <form action="/nodes/register" method="post">
        <p align='center'>what your (or other) id ? : <input type="text" name="node"></p>
        <p align='center'><input type="submit" value="Submit"></p>
        <p align='center'><input type="button" value="BACK" onClick="history.go(-1)"></p> 
    </form>
    
</body>
