<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to SSoin</title>
</head>
<body>
<h1><span style="color : blue" ><p style="text-align:center;">Trading</p></span></h1>    
    <form action="/transactions/new" method="post">
        <p align='center'>sender : <input type="text" name="sender"></p>
        <p align='center'>recipient : <input type="text" name="recipient"></p>
        <p align='center'>SSoin amount: <input type="text" name="SSion"></p>
        <p align='center'><input type="submit" value="Submit"></p>
        <p align='center'><input type="button" value="BACK" onClick="history.go(-1)"></p> 
    </form>
    
</body>
